.card.card-v4.card--img-no-padding
	.card__content
		h3.card__title Lorem ipsum dolor sit amet.
		p.card__description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia minus culpa commodi.
		.card__buttons
			a.card__button.btn.btn--subtle(href="#") Learn more
			a.card__button.btn.btn--primary(href="#") Buy
	figure.card__img
		img(src="@card/card-v4/images/card_1.jpeg", alt="Description of card v3")
