.card.card-v3
	a.card__link(href="#" title="Description of the link" aria-label="Description of the link")
		figure.card__img
			img(src="@card/card-v3/images/card_1.jpeg", alt="Description of card v3")
		.card__content
			span.card__label Label
			h3.card__title Lorem ipsum dolor sit amet.
		.card__footer
			span Read more
			svg.icon(viewBox='0 0 16 16')
				g(fill='none' stroke-width='1' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10')
					line(x1='0.5' y1='8.5' x2='15.5' y2='8.5')
					polyline(points='10.5,3.5 15.5,8.5 10.5,13.5 ')
