.card.card-v5
	a.card__link(href="" title="Description of the link" aria-label="Description of the link")
		figure.card__img
			img(src="@card/card-v5/images/card_1.jpeg", alt="Card preview img")
	.card__content
		h3.card__title Lorem ipsum dolor sit amet
		p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam, maiores!
		p
			a.btn.btn--primary.btn--sm(href="#") Read more
