extends ../../layouts/layout.pug

block var
	- title = 'Index'
	- bodyClass = 'index'

block main
	include ../../../components/header/header.component.pug
	include ../../../shared/button/button.component.pug
	include ../../../components/footer/footer.component.pug
