extends ../../layouts/layout.pug

block var
	- title = 'Index'
	- bodyClass = 'index'

block main
	section#app
		.container
			include ../../../components/header/header.component.pug
			include ../../../components/todos/todos.component.pug
			include ../../../components/status-todo/status-todo.component.pug


