@import '../../../components/about/about.component';
@import '../../../components/footer/footer.component';

.about-page {
	background-color: red;
}

.yem-about-page {
	background-color: #34495e;
}

img {
	width: 100%;
}
