extends ../../layouts/layout.pug

block var
	- title = 'About'
	- bodyClass = 'about'

block main
	include ../../../components/about/about.component.pug
	include ../../../components/footer/footer.component.pug
