.card.card-v1
	figure.card__img
		img(src='@card/card-v1/images/card_1.jpeg' alt='Card preview img')
	.card__content
		.card__text
			h4.card__title Title of the Card
			p.card__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, suscipit.
		.card__button
			a.btn.btn--subtle.btn--sm(href='#0') Read more
