.card.card-v1.card--is-link
	a.card__link(href="")
		figure.card__img
			img(src='@card/card-v1/images/card_2.jpeg' alt='Card preview img')
			figcaption.card__link-icon(aria-hidden='true')
				svg.icon(viewBox='0 0 32 32')
					g(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' stroke='currentColor' fill='none' stroke-miterlimit='10')
						path(d='M21,5s-4.333-1.667-7,1L6,14c-2.667,2.667-1,7-1,7')
						path(d='M27,11s1.667,4.333-1,7l-8,8c-2.667,2.667-7,1-7,1')
						line(x1='12' y1='20' x2='4' y2='28')
						line(x1='28' y1='4' x2='20' y2='12')
		.card__content
			.card__text
				h4 Title of the Card
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, suscipit.
