.card.card-v6
	a.card__link(href="#", title="Description of the link" aria-label="Description of the link")
		figure.card__img
			img(src="@card/card-v6/images/card_1.jpeg", alt="Description of the link")
		.card__content
			span.card__label Label
			h3.card__title Lorem ipsum dolor sit amet consectetur adipisicing elit.
		.card__icon
			svg.icon(viewBox='0 0 12 12')
				g(stroke-width='1' stroke='currentColor' fill='none' stroke-linecap='round' stroke-linejoin='round')
					line(x1='11.5' y1='6' x2='0.5' y2='6')
					polyline(points='7.5 2 11.5 6 7.5 10')
