.card.card-v9
	a.card__link(
		href="#", title="Description of the link", 
		aria-label="Description of the link", 
		style="background-image: url('@card/card-v9/images/card_1.jpeg')")
		.card__body
			.card__content
				p.card__label Category
				h3.card__title Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, atque.
			.card__button
				span
					i Read more
