extends ../../layouts/layout.pug

block var
	- title = 'Card-v5'
	- bodyClass = 'card-v5'

block main
	.container
		.grid.gap-xs
			div(class="col-6@sm col-4@md")
				include ../../../components/card/card-v5/card-v5.component.pug
