extends ../../layouts/layout.pug

block var
	- title = 'Card-v3'
	- bodyClass = 'card-v3'

block main
	.container
		.grid.gap-xs
			div(class="col-6@sm col-4@md")
				include ../../../components/card/card-v3/card-v3.component.pug
