a.card.card-v2(href='#0')
	figure
		img(src='@card/assets/images/card_3.jpeg' alt='Image description')
		figcaption.card__caption
			.card__caption-title Card Title
			.card__caption-description Label
