.card.card-v2.card--blur-fx
	figure
		img(src='@card/assets/images/card_2.jpeg' alt='Image description')
		figcaption.card__caption
			.card__caption-title Card Title
			.card__caption-description Label
